In [18]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [27]:
df = pd.read_csv("C:\\Users\Ibad\Desktop\hr.csv")
df

   exp  test_score  interview_score  salary
0    0         8.0                9   50000
1    0         8.0                6   45000
2    5         6.0                7   60000
3    2        10.0               10   65000
4    7         9.0                6   70000
5    3         7.0               10   62000
6   10         NaN                7   72000
7   11         7.0                8   80000

In [28]:
test_median = df.test_score.median()
test_median

8.0

In [30]:
df.test_score = df.test_score.fillna(test_median)
df

   exp  test_score  interview_score  salary
0    0         8.0                9   50000
1    0         8.0                6   45000
2    5         6.0                7   60000
3    2        10.0               10   65000
4    7         9.0                6   70000
5    3         7.0               10   62000
6   10         8.0                7   72000
7   11         7.0                8   80000

In [31]:
reg = linear_model.LinearRegression()
reg.fit(df[['exp','test_score','interview_score']],df.salary) #two argument learn coloumns, hit or predict coloumn

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [32]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [33]:
reg.intercept_

17737.26346433768

In [34]:
reg.predict([[6,9,6]])

array([64457.7874818])