In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\Ibad\Desktop\weather.csv")
df

     outlook temperature humidity  winspeed  windy play
0   overcast         hot     high         6  False  yes
1   overcast        cool   normal         9   True  yes
2   overcast        mild     high         5   True  yes
3   overcast         hot   normal         7  False  yes
4      rainy        mild     high         4  False  yes
5      rainy        cool   normal         4  False  yes
6      rainy        cool   normal         7   True   no
7      rainy        mild   normal         7  False  yes
8      rainy        mild     high         9   True   no
9      sunny         hot     high         8  False   no
10     sunny         hot     high         5   True   no
11     sunny        mild     high         7  False   no
12     sunny        cool   normal         7  False  yes
13     sunny        mild   normal         9   True  yes

## Reading Data in Pandas

In [25]:
#read headers
df.columns

#read each column
df["temperature"]

#read each row
df.head()
df.iloc[1]
df.iloc[1:4]
df.loc[df.temperature == "hot"]

#read specific loc (r, c)
df.iloc[2,3]

True

## Sorting/Describing Data

In [30]:
df.describe()
df.sort_values("outlook")
df.sort_values(["outlook","temperature"], ascending=True)   
                                            #also define ascending and descending order
                                            #for multiple columns use []

     outlook temperature humidity  windy play
1   overcast        cool   normal   True  yes
0   overcast         hot     high  False  yes
3   overcast         hot   normal  False  yes
2   overcast        mild     high   True  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
4      rainy        mild     high  False  yes
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
12     sunny        cool   normal  False  yes
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
13     sunny        mild   normal   True  yes

## Filtering a column

In [4]:
df.loc[df["outlook"].str.contains("ain")] #filtering a column

  outlook temperature humidity  windy play
4   rainy        mild     high  False  yes
5   rainy        cool   normal  False  yes
6   rainy        cool   normal   True   no
7   rainy        mild   normal  False  yes
8   rainy        mild     high   True   no

## Conditional Changes

In [15]:
df.loc[df["outlook"] == "rainy", "outlook"] = "Barish"  #conditional changes in coloumn
df

     outlook temperature humidity  windy play  oulook
0   overcast         hot     high  False  yes     NaN
1   overcast        cool   normal   True  yes     NaN
2   overcast        mild     high   True  yes     NaN
3   overcast         hot   normal  False  yes     NaN
4     Barish        mild     high  False  yes  Barish
5     Barish        cool   normal  False  yes  Barish
6     Barish        cool   normal   True   no  Barish
7     Barish        mild   normal  False  yes  Barish
8     Barish        mild     high   True   no  Barish
9      sunny         hot     high  False   no     NaN
10     sunny         hot     high   True   no     NaN
11     sunny        mild     high  False   no     NaN
12     sunny        cool   normal  False  yes     NaN
13     sunny        mild   normal   True  yes     NaN

In [18]:
del df["oulook"]
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4     Barish        mild     high  False  yes
5     Barish        cool   normal  False  yes
6     Barish        cool   normal   True   no
7     Barish        mild   normal  False  yes
8     Barish        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [19]:
df.loc[df["outlook"] == "Barish", "outlook"] = "rainy"

In [20]:
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [21]:
df.loc[df["outlook"] == "rainy", "play"] = "test"

In [22]:
df

     outlook temperature humidity  windy  play
0   overcast         hot     high  False   yes
1   overcast        cool   normal   True   yes
2   overcast        mild     high   True   yes
3   overcast         hot   normal  False   yes
4      rainy        mild     high  False  test
5      rainy        cool   normal  False  test
6      rainy        cool   normal   True  test
7      rainy        mild   normal  False  test
8      rainy        mild     high   True  test
9      sunny         hot     high  False    no
10     sunny         hot     high   True    no
11     sunny        mild     high  False    no
12     sunny        cool   normal  False   yes
13     sunny        mild   normal   True   yes

In [ ]:
## Aggregate Statistics (Group by)

In [49]:
df.groupby(["temperature"]).mean()
df.groupby(["temperature"]).mean().sort_values("windy", ascending = True)
df.groupby(["outlook"]).count()
df.groupby(["outlook"]).count()["play"] #for specific column

outlook
overcast    4
rainy       5
sunny       5
Name: play, dtype: int64

In [3]:
df

     outlook temperature humidity  winspeed  windy play
0   overcast         hot     high         6  False  yes
1   overcast        cool   normal         9   True  yes
2   overcast        mild     high         5   True  yes
3   overcast         hot   normal         7  False  yes
4      rainy        mild     high         4  False  yes
5      rainy        cool   normal         4  False  yes
6      rainy        cool   normal         7   True   no
7      rainy        mild   normal         7  False  yes
8      rainy        mild     high         9   True   no
9      sunny         hot     high         8  False   no
10     sunny         hot     high         5   True   no
11     sunny        mild     high         7  False   no
12     sunny        cool   normal         7  False  yes
13     sunny        mild   normal         9   True  yes